{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column pt-2">
        <h2>Welcome to the Map</h2>
        <hr>
    </div>
</header>
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="row mx-auto text-center mb-3">
                <h4>Map Page</h4>
                <hr>

                {% if user.is_authenticated and user.is_job_seeker%}
                {% comment %} Job seeker map {% endcomment %}
                <div class="container mb-3">
                  <div class="row justify-content-center">
                    {% comment %} Map {% endcomment %}
                    <div class="col-md-7 d-flex flex-column align-items-center">
                        <div id="map" style="height: 600px; width: 100%"></div>
                        {{ cities|json_script:"cities_json" }}
                    </div>

                    {% comment %} Card {% endcomment %}
                    <div class="col-md-5 d-flex flex-column align-items-center">
                        <div class="card mb-3 w-100" style="max-width: 22rem;">
                            <div class="card-body">
                                <h3 class="card-title">Navigation</h3>
                                <br/>

                                <h5>Sort by Country, State, and City</h5>
                                <hr><br/>
                                <div class="d-flex gap-2 mb-3 flex-wrap w-100">
                                    <button data-bs-toggle="dropdown" class="btn btn-success dropdown-toggle flex-fill">Country</button>
                                    <button data-bs-toggle="dropdown" class="btn btn-success dropdown-toggle flex-fill">State</button>
                                    <button data-bs-toggle="dropdown" class="btn btn-success dropdown-toggle flex-fill">City</button>
                                </div>
                                    <button class="btn btn-dark flex-fill">Submit</button>

                                <hr>
                                <h5 class="card-title">Sort by distance</h5><br/>
                                <div class="d-flex justify-content-center gap-2 mb-3">
                                    <form>
                                        <div class="input-group">
                                            <input type="number" class="form-control flex-fill" placeholder="Distance in miles">
                                        </div>
                                        <button class="btn btn-dark flex-fill mt-2">Submit</button>
                                    </form>
                                </div>



                                <hr>
                                <h5 class="card-title">My Location</h5><br/>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-dark">View My Location</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {% else %}
                {% comment %} Admin/Recruiter map {% endcomment %}
                <div class="container mb-3">
                  <div class="row justify-content-center">
                    {% comment %} Map {% endcomment %}
                    <div class="col-md-7 d-flex flex-column align-items-center">
                        <div id="map" style="height: 600px; width: 100%"></div>
                        {{ cities|json_script:"cities_json" }}
                    </div>

                    {% comment %} Card {% endcomment %}
                    <div class="col-md-5 d-flex flex-column align-items-center">
                        <div class="card mb-3 w-100" style="max-width: 22rem;">
                            <div class="card-body">
                                <h3 class="card-title">Navigation</h3>
                                <hr><br/>

                                <h5>Sort by Country, State, and City</h5>
                                <div class="d-flex gap-2 mb-3 flex-wrap w-100">
                                    <button data-bs-toggle="dropdown" class="btn btn-info dropdown-toggle flex-fill">Country</button>
                                    <button data-bs-toggle="dropdown" class="btn btn-info dropdown-toggle flex-fill">State</button>
                                    <button data-bs-toggle="dropdown" class="btn btn-info dropdown-toggle flex-fill">City</button>
                                </div>

                                <h5 class="card-title">My Office</h5>
                                <hr><br/>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-dark">View My Office</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% comment %} Javascript will be moved to a .js file when I feel like {% endcomment %}
                <script> 
                    var map = L.map('map').setView([33.78, -84.4], 13); // Centered on GT
                    
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    
                    // Example marker
                    var marker = L.marker([33.78, -84.4]).addTo(map);
                    marker.bindPopup("<b>Hello!</b><br>This is Georgia Tech!." ).openPopup();
                    
                    let cities = JSON.parse(document.getElementById('cities_json').textContent);
                    
                    //for 300 cities, add a marker to the map
                    {% comment %} cities.forEach(city => {
                        let marker = L.marker([city.latitude, city.longitude]).addTo(map);
                        marker.bindPopup(`<b>${city.city}, ${city.state}, ${city.country}</b><br>(${city.latitude}, ${city.longitude})`);
                        }); {% endcomment %}
                        
                        map.on('click', function(e) {
                            var lat = e.latlng.lat;
                            var lng = e.latlng.lng;
                            var marker = L.marker([lat, lng]).addTo(map);
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock content %}